<div id="<%= dom_id shift %>">
  <p>
    <strong>Weekday:</strong>
    <%= shift.weekday %>
  </p>

  <p>
    <strong>Start time:</strong>
    <%= shift.start_time %>
  </p>

  <p>
    <strong>End time:</strong>
    <%= shift.end_time %>
  </p>

</div>
